@page
@using XMLAspNetCore.Models;
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div class="container">
    <table class="table table-striped">
        <thead>
            <tr class="card-title">
                <td>@Html.DisplayNameFor(a => a.Employees[0].FirstName)</td>
                <td>@Html.DisplayNameFor(a => a.Employees[0].LastName)</td>
                <td>@Html.DisplayNameFor(a => a.Employees[0].City)</td>
                <td>@Html.DisplayNameFor(a => a.Employees[0].State)</td>
                <td>@Html.DisplayNameFor(a => a.Employees[0].ZipCode)</td>
            </tr>
        </thead>
        <tbody>
            @foreach (Employee emp in Model.Employees)
            {
                <tr>
                    <td>@emp.FirstName</td>
                    <td>@emp.LastName</td>
                    <td>@emp.City</td>
                    <td>@emp.State</td>
                    <td>@emp.ZipCode</td>
                </tr>
            }

        </tbody>
    </table>
</div>

       <p id="MyDate">My WeekNumber Placeholder</p>

       <button onclick="showWeek()" class="btn btn-Primary">Get Week Number</button>

        <form method="post">
            <button value="Submit" class="btn btn-primary">Submit Button</button>
        </form>

   

<p id="MessageCenter">@Html.Raw(Model.StatusMessage)</p>

@section Scripts
    {
    <script>
        $(document).ready(function()
        {
        });

        function showWeek()
        {
            var myP = document.getElementById("MyDate");
            myP.innerText = getWeek(new Date());
        }
        // Function to get the 1-52 week number
        function getWeek(date) 
        {
            const d = new Date(date);
            d.setHours(0, 0, 0);
            d.setDate(d.getDate() + 4 - (d.getDay() || 7));
            const yearStart = new Date(d.getFullYear(), 0, 1);
            const weekNumber = Math.ceil((((d - yearStart) / 86400000) + 1) / 7);
            return weekNumber === 0 ? 52 : weekNumber;
        }
        function showMessage(duration)
        {
            var messageDiv = document.getElementById("MessageCenter");
            messageDiv.style.display = "block";

            setTimeout(function() 
            {
                var messageDiv = document.getElementById("MessageCenter");
                messageDiv.style.display = "none";
            }, duration);
        }
    </script>
  }
