@page
@model XMLAspNetCore.Pages.Advertisement.CreateModel
@{
    ViewData["Title"] = "Antique Car Advertisement Services";
}

<div class="text-lg-center">
    <h1>Post your advertisment</h1>
</div>

@using (Html.BeginForm(FormMethod.Post))
{
    <div class="form-control">
        <div class="form-check">
            <span asp-validation-for="AdTitle" class="alert-danger"></span>
            <label asp-for="AdTitle" class="top-100"></label><br />
            @if (Model.AdTitle != null)
            {
                @Html.TextBoxFor(a => a.AdTitle, Model.AdTitle.ToUpper(), new { style="width: 500px"})
            }
        </div>
        <div class="form-check">
            <span asp-validation-for="Description" class="alert-danger"></span>
            <label asp-for="Description" style="font-weight: bold"></label><br />
            @Html.TextAreaFor(a => a.Description, 5, 200, new { @class = "form-control" })
        </div>
        <div class="form-check">
            <span asp-validation-for="Duration" class="alert-danger"></span>
            <label asp-for="Duration" class="top-100"></label><br />
            <select asp-for="Duration" asp-items="Model.DurationListItems" style="width: 400px" class="form-select"></select>
        </div>
        <div class="form-check">
            <span asp-validation-for="Price" class="alert-danger"></span>
            <label asp-for="Price" class="top-100"></label><br />
            @Html.TextBoxFor(a => a.Price, "{0:N2}", new { style="width: 500px"})
        </div>
        <div class="form-check">
            <span asp-validation-for="Condition" class="alert-danger"></span>
            <label class="top-100">Radio Buttons</label><br />
            <label>
                <input type="radio" asp-for="Condition" value="Fair" />Fair
            </label><br />
            <label>
                <input type="radio" asp-for="Condition" value="Good" />Good
            </label><br />
            <label>
                <input type="radio" asp-for="Condition" value="As New" />As New
            </label>
        </div>

        <div class="form-check">
            <span asp-validation-for="Email" class="alert-danger"></span>
            <label asp-for="Email" class="top-100"></label><br />
            @Html.TextBoxFor(a => a.Email, "", new { style="width: 500px"})
        </div>
    </div>
    <input class="btn btn-primary" type="submit" asp-page=".\Create" asp-page-handler="Process" />
}

@if (Model.IsFormSubmitted && ModelState.IsValid)
{
    <h3>Form Submission Results:</h3>
    <p>AdTile: @Model.AdTitle</p>
    <p>Description: @Model.Description</p>
    <p>Duration: @Model.Duration</p>
    <p>Price: @Model.Price</p>
    <p>Condition: @Model.Condition</p>
}


<h1><pre>@Model.StatusMessage</pre></h1>
